.show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    margin-top: 7rem;


    h2 {
        margin-bottom: 2rem;
        text-transform: uppercase;
    }
    
    &__elenco {
        width: 580px;
        margin: 0 auto;
        padding: 0 25px;

        @media (max-width: 668px) {
            max-width: 380px;
            width: 100%;
            padding: 0 14px;
            
        }
        
    }

    h3 {
        margin-top: 2rem;
    }

    p {
        width: 100%;
        line-height: 30px;
        padding: 0;
        margin-top: 1rem;

        @media (max-width: 668px) {
            padding: 0 10px;
        }
    }

        img {
        margin-top: 1rem;
            width: 100%;
            height: auto;
        }
    }
